{% extends 'base.html' %}

{% block content %}
<div class="container w-100">
    <div class="row">
        <div class="col-lg-3 m-auto ">
            <h1 class="display-10 font-italic text-center"><a href="/" class="text-decoration-none text-success">SHIFT_MANAGEMENT SYSTEM</a></h1>
        </div>
        <div class="col-lg-3 m-auto ">
            
            {% if user.is_authenticated  %}
            {% else %}
            <div class="messages_ul text-center">
                <p class="rounded-0 alert alert-danger" role="alert">ログインしてください<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button></p>
            </div>
            {% endif %}
            
            <form class="form-signin mx-4" method="POST">
                {% csrf_token %}

                <div class="text-center">
                    <h1 class="h5 my-4 ">ログイン</h1>
                </div>

                <div class="form-label-group my-3">
                    <p>メールアドレス</p>
                    <input type="email" id="id_email" name="username" class="form-control" placeholder="Email address" required autofocus>
                </div>

                <div class="form-label-group my-3">
                    <p>パスワード</p>
                    <input type="password" id="id_password" name="password" class="form-control" placeholder="Password" required>
                    <p><a href="{% url 'password_reset' %}">Forgot Your Password?</a></p> 
                </div>

                <button class="btn btn-primary btn-block my-3" type="submit">ログイン</button>

            </form>

        </div>
    </div>
</div>

{{ req }}
{% endblock %}