{% extends 'base_manager.html' %}
{% block title %}店長専用ページ_スタッフ選択{% endblock%}

{% block content %}
<div class="text-center my-5">
    <div class="mb-3">
        <h1>スタッフ選択</h1>
    </div>

    {% for object in staff_name_datas %}
        
        <div class="row">
            {% if object.category == 1 %}
            <li class="text-left list-group-item list-unstyled col">店長</li>
            {% else %}
            <li class="text-left list-group-item list-unstyled col">スタッフ</li>
            {% endif %}
            <li class="text-left list-group-item list-unstyled col">{{object.clerkname}}</li>
            <a class="btn btn-outline-success col" href="{% url 'shift:staff_reverse' object.id %}">閲覧</a>
        </div>
    {% endfor %}
</div>
{% endblock content %}