{% extends 'base_manager.html' %}
{% block title %}店長専用ページ_個別シフト状況{% endblock%}

{% block content %}
<div class="text-center my-5">
    <div class="mb-3">
        <h1>{{staff_name_data}}のシフト状況</h1>
        <p>{{ start_day }}～{{ end_day }}</p>
        <a class="btn btn-warning">編集する（リンクは貼ってないよ）</a>
    </div>

    <div class="d-flex mb-2">
        <div class="mx-3 mr-auto">
            <a class="btn btn-success" href="{% url 'shift:staff_shift_view_only' staff_id before_month.year before_month.month before_month.day %}">4週前</a>
            <a class="btn btn-success" href="{% url 'shift:staff_shift_view_only' staff_id before.year before.month before.day %}">前週</a>
        </div>
        <div class="mx-3">
            <a class="btn btn-success" href="{% url 'shift:staff_shift_view_only' staff_id next.year next.month next.day %}">次週</a>
            <a class="btn btn-success" href="{% url 'shift:staff_shift_view_only' staff_id next_month.year next_month.month next_month.day %}">4週後</a>
        </div>
    </div>
    <div class="mb-3">
        <table class="table table-bordered bg-light">
            <thead class="thead-light">
                <tr>
                    <th></th>
                    {% for day in days %} {% if day.weekday == 5 %}
                    <th scope="col" class="text-primary">{{ day | date:"d(D)" }}</th>
                    {% elif day.weekday == 6 %}
                    <th scope="col" class="text-danger">{{ day | date:"d(D)" }}</th>
                    {% else %}
                    <th scope="col">{{ day | date:"d(D)" }}</th>
                    {% endif %} {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for booking_hour_minute, booking_date2 in calendar2.items %}
                <tr>
                    <td scope="row">{{ booking_hour_minute }}</td>
                    {% for datetime, book in booking_date2.items %}
                    <td>   
                        {% if book == ''%}
                        {% comment %} <button class="btn btn-outline-success" type="submit">出勤しない</button> {% endcomment %}
                        <p class="mb-0 font-weight-bold text-success">出勤不可</p>
                        <i class="fas fa-times text-danger"></i>
                        {% elif book == "既定人数到達" %}
                        <p class="mb-0 font-weight-bold text-success">既定人数到達 </p>
                        <i class="fas fa-times text-danger"></i>
                        {% elif book == "False" %} 
                        <i class="fas fa-times text-danger"></i>
                        {% else %}
                        <p class="mb-0 font-weight-bold text-success">出勤</p>
                        {% endif %}
                    </td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>  
</div>
{% endblock content %}