{% extends 'base.html' %}

{% block content %}
<p>
    メモ<br>
    <ul>
        <li>レスポンシブ</li>
        <li>出勤と規定人数到達を分ける</li>
        <li></li>
        <li></li>
    </ul>
</p>
<div class="text-center my-5">
    <div class="mb-3">
        <h1>{{staff_name_data.clerkname}}さんのシフト希望登録表</h1>
        <p>1時間当たり{{people_per_hour}}人まで入れます。<br>登録は1か月後のシフトから可能です。登録順にシフトを順次決定します。</p>
        <h4>{{ start_day }}～{{ end_day }}</h4>
    </div>

    <div class="d-flex mb-2">
        <div class="mx-3 mr-auto">
            <a class="btn btn-warning" href="{% url 'shift:mypage' before_month.year before_month.month before_month.day %}">4週前</a>
            <a class="btn btn-warning" href="{% url 'shift:mypage' before.year before.month before.day %}">前週</a>
        </div>
        <div class="mx-3">
            <a class="btn btn-warning" href="{% url 'shift:mypage' next.year next.month next.day %}">次週</a>
            <a class="btn btn-warning" href="{% url 'shift:mypage' next_month.year next_month.month next_month.day %}">4週後</a>
        </div>
    </div>
    <div class="mb-3 table-responsive">
        <table class="table table-bordered bg-light table-hover">
            <thead class="thead-light">
                <tr>
                    <th></th>
                    {% for day in days %} 
                    {% if day.weekday == 5 %}
                    <th scope="col" class="text-primary">{{ day | date:"d(D)" }}</th>
                    {% elif day.weekday == 6 %}
                    <th scope="col" class="text-danger">{{ day | date:"d(D)" }}</th>
                    {% else %}
                    <th scope="col">{{ day | date:"d(D)" }}</th>
                    {% endif %} 
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for booking_hour_minute, booking_date2 in calendar2.items %}
                <tr>
                    <td scope="row">{{ booking_hour_minute }}</td>
                    {% for datetime, book in booking_date2.items %}
                    <td>
                        {% if book == ''%}
                        <form method="POST"
                            action="{% url 'shift:holiday' datetime.year datetime.month datetime.day booking_hour_minute %}">
                            {% csrf_token %}
                            <button class="btn btn-outline-success" type="submit">
                                {% comment %} 出勤しない {% endcomment %}
                                <i class="far fa-circle text-info"></i>
                            </button>
                        </form>
                        {% elif book == "既定人数到達" %}
                        <p class="mb-0 font-weight-bold text-success">既定人数到達 </p>
                        <i class="fas fa-times text-danger"></i>
                        {% elif book == "False" %} 
                        <i class="fas fa-times text-danger"></i>
                        {% else %}
                        <p class="mb-0 font-weight-bold text-success">出勤</p>
                        <form method="POST"
                            action="{% url 'shift:delete' datetime.year datetime.month datetime.day booking_hour_minute %}">
                            {% csrf_token %}
                            <button class="btn btn-outline-danger" type="submit">取消</button>
                        </form>
                        {% endif %}
                    </td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<p>#############################################################################################</p>
<p>{{now}}</p>
<p>{{deadline_time}}</p>
<p>カレンダー1（全体用）の出力結果</p>
{{calendar1}}  

<p>#############################################################################################</p>
<p>カレンダー2（個人用）の出力結果上で出力されてるやつ</p>
{{calendar2}}
{% endblock %}