{% extends 'base_manager.html' %}

{% block title %}登録情報{% endblock%}


{% block content %}
    <div class = "text-center">
        <h1>登録情報</h1>
    </div>
    <div class="p-4 m-4 bg-light border border-success rounded">
        <h2 class="text-success">{{myinfo_data.clerkname}}</h2>
        {% if myinfo_data.personalimage %}
        <img src="{{ myinfo_data.personalimage.url }}" class="img-thumbnail"/>
        {% endif %}
        <h4 class="text-dark">メールアドレス：{{myinfo_data.email}}</h4>
        <p>{{ myinfo_data.introduction_text }}</p>
        <a href="{% url 'accounts:profile_edit'%}" class="btn btn-primary"> 修正する </a>
    </div>
{% endblock content %}