{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css"/>
        <link rel="stylesheet" type="text/css" href="{% static 'shift/css/style.css' %}">
        <title>{% block title %}{% endblock title %}|シフト管理アプリ</title>

    </head>
    <body>
        <nav class="navbar navbar-dark bg-success navbar-expand-lg">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#responsiveMenu" aria-controls="responsiveMenu" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            {% comment %} <div class="navbar-nav d-flex flex-row collapse navbar-collapse" id="responsiveMenu"> {% endcomment %}
            <div class="collapse navbar-collapse" id="responsiveMenu">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'shift:reverse' %}">トップ</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'accounts:clerklist' %}">店員一覧</a> 
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'shift:salary_reverse' %}">給料計算</a> 
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'accounts:profile' %}">登録情報</a> 
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'shift:shop_info' %}">店舗情報</a> 
                    </li>
                </ul>
                <ul class="navbar-nav ms-auto">
                    {% if request.user.is_authenticated %}
                    <li class="nav-item text-right">
                        <a class="nav-link" href="{% url 'accounts:logout' %}">ログアウト</a>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'accounts:login' %}">ログイン</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'accounts:signup' %}">新規会員登録</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </nav>
        <div class="p-4">
            {% include 'messages.html' %}
            <h1>{% block h1 %}{% endblock %}</h1>
            {% block content %}{% endblock content %} 
        </div>

        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>


    </body>
</html>




