{% extends 'base_manager.html' %}
{% block title %}店長専用ページ_シフト状況概要{% endblock%}

{% block content %}
<div class="text-center">
    <h1>シフト状況概要</h1>
    <p>スタッフ数が上限（{{people_per_hour}}人）の半分以下の時間帯にハイライトしています<br>
    スタッフ数上限に達した時間帯に<i class="far fa-circle text-info"></i>を示しています</p>
    <p>{{ start_day }}～{{ end_day }}</p>
</div>
<div class="text-center my-5">
    <div class="d-flex mb-2">
        <div class="mx-3 mr-auto">
            <a class="btn btn-success" href="{% url 'shift:manager_page' before_month.year before_month.month before_month.day %}">4週前</a>
            <a class="btn btn-success" href="{% url 'shift:manager_page' before.year before.month before.day %}">前週</a>
        </div>
        <div class="mx-3">
            <a class="btn btn-success" href="{% url 'shift:manager_page' next.year next.month next.day %}">次週</a>
            <a class="btn btn-success" href="{% url 'shift:manager_page' next_month.year next_month.month next_month.day %}">4週後</a>
        </div>
    </div>
    <div class="mb-3 table-responsive">
        <table class="table table-bordered bg-light">
            <thead class="thead-light">
                <tr>
                    <th></th>
                    {% for day in days %} {% if day.weekday == 5 %}
                    <th scope="col" class="text-primary">{{ day | date:"d(D)" }}</th>
                    {% elif day.weekday == 6 %}
                    <th scope="col" class="text-danger">{{ day | date:"d(D)" }}</th>
                    {% else %}
                    <th scope="col">{{ day | date:"d(D)" }}</th>
                    {% endif %} {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for booking_hour_minute, booking_date1 in calendar1.items %}
                <tr>
                    <td scope="row">{{ booking_hour_minute }}</td>
                    {% for datetime, book in booking_date1.items %}
                    <td>
                        {% if book.opacity == 0 %}
                        <div>   
                            <form method="POST"
                                action="{% url 'shift:shift_detail' datetime.year datetime.month datetime.day booking_hour_minute %}">
                                {% csrf_token %}
                                {% if book.number == "既定人数到達" %}
                                <button class="btn btn-outline-dark w-100" type="submit">
                                    {{people_per_hour}}
                                    <i class="far fa-circle text-info"></i>
                                </button>
                                {% else %}
                                <button class="btn btn-outline-dark w-100" type="submit">{{book.number}}</button>
                                {% endif %}
                                {% comment %} <button class="btn btn-outline-dark w-100" type="submit">{{book.number}}</button> {% endcomment %}
                            </form>
                        </div>
                        {% else %}
                        <div class= "bg-warning bg-opacity-{{book.opacity}} ">   
                            <form method="POST"
                                action="{% url 'shift:shift_detail' datetime.year datetime.month datetime.day booking_hour_minute %}">
                                {% csrf_token %}
                                <button class="btn btn-outline-dark w-100" type="submit">{{book.number}}</button>
                            </form>
                        </div>
                        {% endif %}
                    </td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>  
</div>
{% comment %} {{calendar1}}s {% endcomment %}
{% endblock content %}