{% extends 'base_manager.html' %}
{% block title %}店長専用ページ_スタッフ選択{% endblock%}

{% block content %}
<h1 class="text-center">スタッフ選択</h1>
<div class="text-center my-5">
    <div class="m-4 bg-light border border-success rounded">
    {% for object in staff_name_datas %}
        <div class="row w-100">
            {% if object.category == 1 %}
            <li class="text-left list-group-item list-unstyled col border-bottom">店長</li>
            {% else %}
            <li class="text-left list-group-item list-unstyled col border-bottom">スタッフ</li>
            {% endif %}
            <li class="text-left list-group-item list-unstyled col border-bottom">{{object.clerkname}}</li>
            <a class="btn btn-outline-success col" href="{% url 'staff_reverse' object.id %}">閲覧</a>
        </div>
    {% endfor %}
    </div>

</div>
{% endblock content %}